<p id="notice"><%= notice %></p>

<h1>Exhibitions</h1>

<table>
  <thead>
    <tr>
      <th>Exhibition name</th>
      <th>Place</th>
      <th>Address</th>
      <th>Detail</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibitions.each do |exhibition| %>
      <tr>
        <td><%= exhibition.exhibition_name %></td>
        <td><%= exhibition.place %></td>
        <td><%= exhibition.address %></td>
        <td><%= exhibition.detail %></td>
        <td><%= exhibition.category %></td>
        <td><%= link_to 'Show', exhibition %></td>
        <td><%= link_to 'Edit', edit_exhibition_path(exhibition) %></td>
        <td><%= link_to 'Destroy', exhibition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
